@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.leftsidebar {
  @apply sticky left-0 top-0 z-20 flex h-screen w-fit flex-col justify-between bg-opacity-70 backdrop-blur-lg overflow-auto border-r  pb-5 pt-28 max-md:hidden;
}

/* .main-container {
  @apply flex min-h-screen flex-1 flex-col items-center px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
} */

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

.nav_link {
  box-shadow: inset 0 4px 6px #ac8dd848,
  inset 0 -4px 6px #ac8dd848;
  background: linear-gradient(145deg, #468fe818, #121417);
}
.nav_link_name {
  box-shadow: inset 0 4px 6px #8a71ad,
  inset 0 -4px 6px #8a71ad;
  background: linear-gradient(145deg, #8a71ad52, #00ae9d4a);
  @apply rounded-full
}

.loading_card{
  box-shadow: inset 0 4px 6px #68686875,
  inset 0 -4px 6px #050000c2;
  background: linear-gradient(145deg, #0000005f, #13022c13);
}

.stats_card{
  box-shadow: inset 0 4px 6px #ac8dd848,
  inset 0 -4px 6px #f4ecff48;
  background: linear-gradient(145deg, #29282a, #0e1114);
}

.transition_class{
  @apply transition-transform duration-300 ease-in-out;
}


.model_card{
  box-shadow: inset 0 4px 6px #ac8dd848,
  inset 0 -4px 6px #f4ecff48;
  background: linear-gradient(145deg, #29282a, #0e1114);
}

.btn_class{
  box-shadow: inset 0 4px 6px #afaeb185,
  inset 0 -4px 6px #f4ecff48;
  background: linear-gradient(145deg, #ac8dd898, #ac8dd848);
}
.btn_class_primary{
  box-shadow: inset 0 4px 6px #afaeb185,
  inset 0 -4px 6px #f4ecff48;
  background: linear-gradient(145deg, #00ae9d4f, #00ae9d76);
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.filter_class{
  box-shadow: inset 0 4px 10px #03000842,
  inset 0 -4px 14px #23054b98;
  background: linear-gradient(145deg, #8b55ff85, #ac8dd8);
}

.report_stats{
  box-shadow: inset 0 4px 10px #e7dcf85d,
  inset 0 -4px 14px #e8dff561;
  background: linear-gradient(145deg, #8b55ff28, #ac8dd838);
}



